/* reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
}
a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}
html {
  font-size: 18px;
}

h1 {
  display: flex;
  line-height: 1;
  font-size: 1.7rem;
  padding: 0.5rem 0;
  font-family: "Playfair Display";
}
h2 {
  line-height: 1.1;
  font-size: 1.3rem;
  padding: 0.5rem 0;
  font-family: "Playfair Display", serif;
}
h3 {
  line-height: 1.6;
  font-size: 0.9rem;
  padding: 0.5rem 0;
  font-family: "Playfair Display", serif;
}
ul {
  line-height: 1.4;
}
li {
  line-height: 1.6;
  font-size: 0.7rem;
  font-weight: 600;
  font-family: "Source Sans Pro";
}
p {
  line-height: 1.4;
  font-size: 0.8rem;
  padding: 0.5rem 0;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
}
@media (max-width: 1024px) {
  html {
    font-size: 17px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 16px;
  }
  @media (min-width: 2200px) {
  }
  html {
    font-size: 2vh;
  }
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-sizing: none;
}
body {
  font-family: sans-serif;
  color: #171730;

  padding: 0.3rem;
  width: 1000px;
  margin: 0 auto;
  margin-top: 0.1rem;
  background: white;
  border: 0.2rem solid #171730;
  display: flex;
  flex-direction: column;
}
img {
  display: inline-block;
  max-width: 100%;
}
section {
  text-align: center;
  width: 60%;
  display: flex;
}
aside {
  text-align: center;
  width: 36%;
}
/*****************************************/

header {
  position: relative;
  background: #0d4250;
  display: flex;
  flex: 100%;
  width: 100%;
  flex-direction: row;
  color: white;
  /* font-family: serif; */
}
.head {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-block: 1rem;
}
.head img {
  width: 30%;
  max-width: 100%;
  border-radius: 50%;
  flex-direction: row;
  margin: 1.4rem;
  border: 0.1rem solid #c5eeeb;
  z-index: 2;
}

.head h1 {
  position: absolute;
  padding: 1rem;
  display: inline-block;
  top: 1.3rem;
  left: 11.9rem;
}
.head h2 {
  position: absolute;
  padding: 1rem 1.6rem;
  display: inline-block;
  top: 3.65rem;
  font-size: 1.1rem;
  color: #6495ed;
  left: 11.4rem;
}
.head em {
  position: absolute;
  padding: 1rem 1.6rem;
  display: inline-block;
  text-align: start;
  top: 5.65rem;
  left: 11.4rem;
  font-size: 0.7rem;
}

.contact {
  position: absolute;
  top: 4rem;
  text-align: left;
  right: -4rem;
}
.contact li,
.contact p {
  font-size: 0.7rem;
}
.contact p {
  padding: 0.25rem;
}
.contact .fa {
  min-width: 1rem;
  color: cornflowerblue;
}
.main {
  display: flex;
  flex-direction: row;
}
.left {
  display: flex;
  flex: 1 1 70%;
  width: 60%;
  flex-direction: column;
  background: white;
  text-align: left;
  padding: 0.3rem 0.5rem;
}
.left img {
  width: 10%;
  padding-right: 0.5rem;
  display: inline-block;
}
.ms {
  width: 1.4rem !important;
  height: 1.4rem;
}
.left li {
  padding-left: 0.5rem;
}
.edu,
.cert,
.job {
  margin: 0.9rem 0;
  box-shadow: 0px 5px 10px #00471b;
  padding: 0.5rem 1.5rem 0.7rem;
}
.edu h2,
.cert h2,
.job h2 {
  color: #0d4250;
  font-size: 1rem;
  margin: 0 0 0.9rem;
}
.boxs li {
  position: relative;
}
.boxs li::before {
  content: "*";
  padding-right: 0.5rem;
  position: absolute;
  top: 60%;
  left: 1%;
  transform: translate(-50%, -50%);
}
.boxs h3 {
  display: flex;
  align-items: flex-end;
  font-weight: 700;
  line-height: 0.9;
}
.box h3 {
  line-height: 0.9;
  padding: 0.2rem;
}

.box ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  padding: 0 0.2rem;
}
.box ul li {
  padding: 0.2rem 1rem;
}
.right {
  display: flex;
  flex: 1 1 30%;
  width: 40%;
  flex-direction: column;
  text-align: left;
  padding: 0.5rem;
  background: #0d4250;
}
.right h2 {
  text-align: center;
  font-size: 1rem;
  color: #0d4250;
}
.right ul {
  padding: 0.27rem;
}
.right div {
  margin: 0.9rem 0;
  background: white;
  box-shadow: 0 5px 10px #00471b;
  padding: 0.2rem;
}
.skills li {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  font-weight: 600;
  color: #171730;
}
.skills li img {
  width: 9%;
  margin-left: 0.5rem;
  max-height: 1.35rem;
  margin-top: 0.05rem;
  filter: invert(18%) sepia(31%) saturate(2886%) hue-rotate(116deg) brightness(91%) contrast(101%);
}
.skills span {
  width: 1.1rem;
  height: 1.2rem;
  text-align: center;
  color: #171730;
  background: cornflowerblue;
  border: 0.1rem solid #b5b5b8;
  margin-left: 0.1rem;
  margin-top: 0.2rem;
}
.skills .no-color {
  background: transparent;
}
.skills .max {
  border: 0.1rem solid blue;
  color: 171730;
  background: cornflowerblue;
}
.skill li {
  padding-inline: 1rem;
}
.sckil i {
  min-width: 1rem !important;
}
/* .skill1,
.skill2,
.skill3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0.5rem auto;
}
.skill1 {
  border: 0.3rem solid green;
  border-left: none;
}
.skill2 {
  border: 0.3rem solid #171730;
  border-bottom: none;
}
.skill3 {
  border: 0.3rem solid #00471b;
  border-right: none;
} */
.lang ul {
  padding: 0.27rem;
}

.lang1 {
  margin-bottom: 1rem;
  line-height: 1;
  padding-inline: 1rem;
}
.lang1 span {
  display: block;
  margin-left: 1rem;
}
/* fa colors */
.edu .fa,
.cert .fa,
.job .fa {
  font-size: 1rem;
  color: #0d4250;
  margin-right: 0.3rem;
}
.edu .fa-free-code-camp,
.cert .fa-free-code-camp {
  color: #00471b;
}
.skills .fa,
.skills .fab {
  margin-left: 0.5rem;
  color: #00471b;
  font-size: 1.5rem;
}
.fa-youtube {
  color: red;
}
