/* reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 18px;
  font-family: "Cormorant Garamond", serif;
  /* font-family: "Lato", sans-serif; */
  font-family: "Gentium Book Plus", serif;
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  line-height: 1.1;
  font-size: 1.8rem;
  padding: 0.5rem 0;
}

h3 {
  line-height: 1.6;
  font-size: 1.3rem;
  padding: 0.5rem 0;
}

ul {
  line-height: 1.4;
}

li {
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.5em;
}

p {
  line-height: 1.4;
  font-size: 1rem;
  padding: 0.5rem 0;
  text-align: justify;
  /* font-weight: 600; */
}

@media (max-width: 1024px) {
  html {
    font-size: 17px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 16px;
  }

  @media (min-width: 2200px) {}

  html {
    font-size: 2vh;
  }
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-sizing: none;
}

body {
  color: #171730;
  padding: 0;
  width: 70dvw;
  min-height: 100dvh;
  margin: 0 auto;
  border-radius: .1rem;
  margin-top: 0.25rem;
  background: #ebe6da;
  display: flex;
  flex-direction: column;
}

img {
  display: inline-block;
  max-width: 100%;
}

section {
  display: flex;
}

aside {
  flex:1 1 36%;
}

/*****************************************/

header {
  position: relative;
  background: #001e2b;
  display: flex;
  align-items: center;
  flex: 100%;
  width: 100%;
  flex-direction: row;
  color: #dcebf1;
  padding:1em;
}

header .info-img {
  display: flex;
  flex: 1 1 30%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
 align-items: center;
}

header img {
  width: 50%;
  aspect-ratio: 1/1;
  max-width: 100%;
  border-radius: 50%;
  border: 0.1rem solid #c5eeeb;
}

header span {
  margin: 0.5em 0 0;
  font-size: 1.3rem;
  color: #02fd9d;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* text-indent: 5em; */
  /* text-align: match-parent; */
  font-size: 0.9rem;
  /* font-weight: 600; */
  flex: 1 1 70%;
  & p{
    max-width: 85%;
  }
}

.main {
  display: flex;
  flex-direction: row;
  border: 2px solid #001e2b;
}

.left {
  display: flex;
  flex: 1 1 70%;
  gap: 0.5rem;
  flex-direction: column;
  background: #ebe6da;
  text-align: left;
  color: #242424;
  
}

.left img {
  width: 10%;
  padding-right: 0.5rem;
  display: inline-block;
}

.ms {
  width: 1.4rem !important;
  height: 1.4rem;
}

.left li {
  padding-left: 0.5rem;
  margin-left: 0.5rem;

  &::marker {
    content: "✓";
  }
}

.cert,
.job {
  padding: 0.5rem 1.5rem 1.2rem;
  outline-offset: -2.2px;

}

.cert h2,
.job h2 {
  color: #001e2b;
  font-size: 1rem;
}

.boxs h3 {
  display: flex;
  align-items: center;
  /* font-weight: 700; */
  line-height: 0.9;
}

.box h3 {
  line-height: 0.9;
  padding: 0.2rem;
}

.box ul li {
  padding: 0.2rem 1rem;
}

.right {
  display: flex;
  flex: 1 1 30%;
  flex-direction: column;
  text-align: left;
  padding-inline: 0.5rem;
  background: #001e2b;
}

.right h2 {
  font-size: 1rem;
  color: #dcebf1;
}

.right div {
  background: #001e2b;
  color: #dcebf1;
  padding: 0.5rem 0.2rem;
}


.education li {
  /* font-weight: 600; */
  padding-left: 0.5em;
  margin-left: 1em;

  &::marker {
    content: "✓";
    color: #02fd9d;
  }
}

.skills li {
  padding-left: 0.5em;
  margin-left: 1em;

  &::marker {
    content: "✓";
    color: #02fd9d;
  }
}

.skill i,
.hobby i {
  margin-inline: 0.5em;
  min-width: 1rem !important;
}

.contact p {
  padding: 0.25em 0.25em;
}

.contact i {
  width: 1.5em;
}

.contact .fa {
  min-width: 1rem;
  color: #02fd9d;
}

/* fa colors */
.edu .fa,
.cert .fa,
.job .fa {
  font-size: 1rem;
  color: #001e2b;
  margin-right: 0.3rem;
}

.edu .fa-free-code-camp,
.cert .fa-free-code-camp {
  color: #00471b;
}


.print-btn {
  background-color: #dcebf1;
  color: #001e2b;
  padding-block: .5rem;
  cursor: pointer;
}

:is(.left, .right) hr {
  height: 2px;
  width: 95%;
  margin-inline: auto;
  border: none;
}

.left hr {
  background-color: #001e2b;
}

.right hr {
  background-color: #dcebf1;
}

@media print {
  @page {
    size: A4 landscape;
    margin: 0.2em;
  }

  body {
    transform-origin: top center;
    width: 98dvw;
    padding: 0.1in;
    max-height: 100dvh;
  }

  .print-btn {
    display: none;
  }

}